{% extends "base.html"%}

{% block content%}
    <div id="header-charts">

        <p id="p-header">Gráficos de Procedimentosem Caçapava</p>

    </div>


    <div class="container-grid">
        
        <div class="div-item1">
            <img src="/static/imgs/img graficos/Procedimentos/ccpv/ccpv-procedimentos-total.png" alt="grafico" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>

        <div class="div-item1">
            <img src="/static/imgs/img graficos/Procedimentos/ccpv/ccpv-proc-01.png" alt="grafico" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>

        <div class="div-item1">
            <img src="/static/imgs/img graficos/Procedimentos/ccpv/ccpv-proc-02.png" alt="grafico" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>

        <div class="div-item1">
            <img src="/static/imgs/img graficos/Procedimentos/ccpv/ccpv-proc-03.png" alt="grafico" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>
        
        <div class="div-item1">
            <img src="/static/imgs/img graficos/Procedimentos/ccpv/ccpv-proc-04.png" alt="grafico" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>

        <div class="div-item1">
            <img src="/static/imgs/img graficos/Procedimentos/ccpv/ccpv-proc-05.png" alt="grafico" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>
        
        <div class="div-item1">
            <img src="/static/imgs/img graficos/Procedimentos/ccpv/ccpv-proc-06.png" alt="grafico" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>
        
        <div class="div-item1">
            <img src="/static/imgs/img graficos/Procedimentos/ccpv/ccpv-proc-07.png" alt="grafico" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>
        
        <div class="div-item1">
            <img src="/static/imgs/img graficos/Procedimentos/ccpv/ccpv-proc-08.png" alt="grafico" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>
        
        
    </div>

{% endblock %}
