<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="shortcut icon" href="../static/imgs/logo_3.png" type="image/x-icon">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <div id="left-box"><img src="../static/imgs/logo_2.png" alt="logo"></div>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/pesquisa">Pesquisa</a>
                </li>
                <li>
                    <a href="/sobre">Sobre o Projeto</a>
                </li>
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <a href="https://github.com/Equipe-01-DSM-2023/API-2023.1" target="_blank"> <img src="../static/imgs/github-logo_16px.png"> Visite nosso github!</a>
        <p>© 2023 Copyright. All rights reserved.</p>
    </footer>
</body>
</html>
