{% extends "base.html" %}

{% block content %}

<h2 class="centro">
    Caçapava
</h2>

<h3 class="centro">
    Clique abaixo na categoria que deseja acessar:
</h3>

<div class="botao">
    <div>
        <a href="consultasccpv.html"> Consultas </a>
    </div>
    <div>
        <a href="gastosccpv.html"> Gastos </a>
    </div>
    <div>
        <a href="medicamentosccpv.html"> Medicamentos </a>
    </div>
    <div>
        <a href="procedimentosccpv.html"> Procedimentos </a>
    </div>
    <div>
        <a href="tratamentosccpv"> Tratamentos </a>
    </div>


</div>

{% endblock %}

