{% extends "base.html"%}

{% block content%}
    <div id="header-charts">

        <p id="p-header">Gráficos de Tratamentos em Caçapava</p>

    </div>


    <div class="container-grid">
        
        <div class="div-item1">
            <img src="/static/imgs/img graficos/internações/ccpv-internacoes.png" alt="grafico" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>

        <div class="div-item1">
            <img src="/static/imgs/img graficos/vacinação/ccpv-vacina.png" alt="grafico" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>

    </div>

{% endblock %}
