{% extends "base.html"%}

{% block content%}

    <div class="container-grid">
        
        <div class="div-item1">
            <p class="p-grid-tem">Título</p>
            <img src="Screenshot_101.png" alt="grafico1" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>

        <div class="div-item1">
            <p class="p-grid-tem">Título</p>
            <img src="Screenshot_101.png" alt="grafico1" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>

        <div class="div-item1">
            <p class="p-grid-tem">Título</p>
            <img src="Screenshot_101.png" alt="grafico1" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>

        <div class="div-item1">
            <p class="p-grid-tem">Título</p>
            <img src="Screenshot_101.png" alt="grafico1" class="img-grid">
            <a href="#" class="a-grid">fonte</a>
        </div>
        
        
    </div>

{% endblock %}
