{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/home.css">
<img src="../static/imgs/sobre_covidlonga.png" alt="" id="covid_longa">
<main id="index">
    <div class="content" id="text">
        <div class="left-box">
            <p>Nosso site visa fornecer aos jornalistas uma plataforma para coletar e visualizar dados e informações sobre a Covid Longa por meio de gráficos. O site busca disponibilizar informações atualizadas e confiáveis, permitindo que jornalistas acessem dados específicos da região do <strong class="mark">Vale do Paraíba</strong> sobre a prevalência, sintomas, impacto, entre outros áspectos da Covid Longa, ou seja, sintomas prolongados e sua relação com a Covid-19 para apoiá-los na criação de matérias jornalísticas e reportagens sobre esse tema relevante de saúde pública na área de abrangência da Rede Vanguarda.</p>
        </div>
        <div class="right-box">
            <img src="../static/imgs/vale_do_paraiba.png" alt="" id="valeparaiba">
        </div>
    </div>
    <div id="content_2">
        <p>Como dito anteriormente, nosso objetivo é disponibilizar informações confiáveis que possam ser utilizadas em matérias, sendo assim, aqui também disponilizaremos nossas fontes:</p>
    </div>
    <div class="content" id="safe">
        <div class="left-box">
            <ul>
                <li><a href="https://opendatasus.saude.gov.br/dataset/srag-2021-a-2023" target="_blank">https://opendatasus.saude.gov.br/dataset/srag-2021-a-2023</a></li>
                <li><a href="https://servicos.sjc.sp.gov.br/transparencia2/despesascovid" target="_blank">https://servicos.sjc.sp.gov.br/transparencia2/despesascovid</a></li>
                <li><a href="https://taubate.meumunicipio.digital/apex/taubate/f?p=839:4" target="_blank">https://taubate.meumunicipio.digital/apex/taubate/f?p=839:4</a></li>
                <li><a href="https://siap.jacarei.sp.gov.br/portal-transparencia/covid-19" target="_blank">https://siap.jacarei.sp.gov.br/portal-transparencia/covid-19</a></li>
                <li><a href="https://transparencia.cacapava.sp.gov.br/TDAPortalClient.aspx?417" target="_blank">https://transparencia.cacapava.sp.gov.br/TDAPortalClient.aspx?417</a></li>
                <li><a href="https://health.google.com/covid-19/open-data/explorer" target="_blank">https://health.google.com/covid-19/open-data/explorer</a></li>
                <li><a href="https://vacinaja.sp.gov.br/vacinometro/?utm_source=portal&utm_medium=banner-topo&utm_campaign=Vacinometro-Municipios" target="_blank">https://vacinaja.sp.gov.br/vacinometro/?utm_source=portal&utm_medium=banner-topo&utm_campaign=Vacinometro-Municipios</a></li>
                <li><a href="https://informe.ensp.fiocruz.br/noticias/53342" target="_blank">https://informe.ensp.fiocruz.br/noticias/53342</a></li>
                <li><a href="http://info.gripe.fiocruz.br/" target="_blank">http://info.gripe.fiocruz.br/</a></li>
                <li><a href="https://jornal.usp.br/wp-content/uploads/2023/01/BoletimPPS_44_12Jan2023.pdf" target="_blank">https://jornal.usp.br/wp-content/uploads/2023/01/BoletimPPS_44_12Jan2023.pdf</a></li>
                <li><a href="https://opendatasus.saude.gov.br/dataset/srag-2020" target="_blank">https://opendatasus.saude.gov.br/dataset/srag-2020</a></li>
                <li><a href="https://www-thelancet-com.translate.goog/journals/eclinm/article/PIIS2589-5370(21)00299-6/fulltext?_x_tr_sl=pt&_x_tr_tl=en&_x_tr_hl=pt-BR&_x_tr_pto=wapp#seccesectitle0027" target="_blank">https://www-thelancet-com.translate.goog/journals/eclinm/article/PIIS2589-5370(21)00299-6/fulltext?_x_tr_sl=pt&_x_tr_tl=en&_x_tr_hl=pt-BR&_x_tr_pto=wapp#seccesectitle0027</a></li>
            </ul>
        </div>
        <div class="right-box">
            <img src="../static/imgs/safe_icon.png" alt="" id="safeicon">
        </div>
    </div>
</main>
{% endblock %}