{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="../static/css/cidades.css">

<h1>Jacareí</h1>

<h2>Clique abaixo na categoria que deseja acessar:</h2>

<section>
    <div>
        <a>Consultas</a>
    </div>
    <div>
        <a>Gastos</a>
    </div>
    <div>
        <a>Medicamentos</a>
    </div>
    <div>
        <a>Procedimentos</a>
    </div>
    <div>
        <a>Tratamentos</a>
    </div>
</section>

<h2> Caso prefira, você pode ir para outra cidade: </h2>

<div class="grid-container">
    <div>
        <a href="/cacapava"> Caçapava </a>
    </div>
    <div>
        <a href="/sjc"> São José dos Campos </a>
    </div>
    <div>
        <a href="/taubate"> Taubaté </a>
    </div>
</div>

{% endblock %}