{% extends "base.html" %}

<footer>
    {% block content %}
</footer>
<link rel="stylesheet" href="../static/css/sobre.css">
<link rel="stylesheet" href="../static/css/mensagem.css">
<div class="mensagem">Muito obrigado! Seu feedback foi enviado com sucesso!</div>

{% endblock %}




  <head>
    <meta charset="utf-8">
    <title>Exemplo de Sticky Footer</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="content">
      <!-- Conteúdo da página aqui -->
    </div>
    <footer>
      <!-- Rodapé da página aqui -->
    </footer>
  </body>
