{% extends "base.html" %} 

{% block content %} 

<link rel="stylesheet" href="../static/css/graficos.css">

<!--Criação dos filtros-->
<div id="fundo">
    <form id="form-search"></form>
 
    <div class="grid-container">
        
        <div class="fcity">
            <select id="cidade" name="filtro">
                <option value="">Selecione uma cidade</option>
                <option value="caçapava">Caçapava</option>
                <option value="jacareí">Jacareí</option>
                <option value="são josé dos campos">São José dos Campos</option>
                <option value="taubaté">Taubaté</option>
            </select>
        </div>
        <div class="ftop">
            <select id="topico" name="filtro">
                <option value="">Selecione um tópico de pesquisa</option>
                <option value="internações">Hospitalização</option>
                <option value="vacinação">Vacinação</option>
                <option value="gastos">Investimentos</option>
                <option value="procedimento">Procedimentos</option> <!-- SJC procedimentos não está funcionando -->
                <option value="consulta">Consultas/Atend. Médico/Acomp. Médico</option>
    <!--            <option value="medicamentos">Medicamentos</option> -->
                <option value="antidepressivo">Antidepressivos</option>
            </select>
        </div> 
    </div>

    <div class="grid-container-btn">
        <button type="button" onclick="filtrar()" id="filtrar-btn">
            Filtrar
        </button>
    </div>
    </form>
    <br>

</div>
<main>
    <section id="bloco_1">
        <div class="conteudo">
            <div class="text">
                <p>Adicionamos um sistema de filtros para facilitar a seleção dos dados de acordo com suas necessidades, facilitando a análise e interpretação das informações coletadas sobre a Covid Longa na região do Vale do Paraíba.  Sendo assim, o site possui um filtro anual para visualizar as informações ao longo dos anos de 2019 à 2021, um filtro de municípios, o que irá possibilitar análises em nível local e também será possível selecionar um filtro por tópicos referentes á Covid-19 e Covid Longa, permitindo uma análise detalhada dos diferentes aspectos dessa condição de saúde.</p>
            </div>
            <div class="text">
                <img src="../static/imgs/vale_do_paraiba.png" alt="" id="valeparaiba">
            </div>
        </div>
    </section>

    <div id="resultado">
        
    </div>

</main>
{% endblock %} 