{% extends "base.html" %}

{% block content %}

<h2 class="centro">
    São José dos Campos
</h2>

<h3 class="centro">
    Clique abaixo na categoria que deseja acessar:
</h3>

<div class="botao">
    <div>
        <a href="/sjc_consultas"> Consultas </a>
    </div>
    <div>
        <a href="/sjc_gastos"> Gastos </a>
    </div>
    <div>
        <a href="/sjc_medicamentos"> Medicamentos </a>
    </div>
    <div>
        <a href="/sjc_procedimentos"> Procedimentos </a>
    </div>
    <div>
        <a href="/sjc_tratamentos"> Tratamentos </a>
    </div>
</div>
<div class="centro" style="padding-bottom: 20px;">
    <h2> Caso prefira, você pode ir para outra cidade: </h2>
</div>
<div class="grid-container">
        <div>
            <a href="/cacapava"> Caçapava </a>
        </div>
        <div>
            <a href="/jacarei"> Jacareí </a>
        </div>
        <div>
            <a href="/taubate"> Taubaté </a>
        </div>
</div>

{% endblock %}