{% extends "base.html"%}

{% block content%}

    <div id="header-charts">

        <p id="p-header">Gráfico de gastos hospitalares em São José dos Campos</p>

    </div>

    <div class="container-grid-alone">
        
        <div class="grid-item-alone">
            <img src="/static/imgs/img graficos/gastos/sjc_gastos.png" alt="grafico_ccpv_gastos" class="img-grid-alone">
        </div>
        <div class="grid-item-alone">
            <a href="#" class="a-grid-alone">fonte</a>
        </div>
    </div>

{% endblock %}
