{% extends "base.html" %}

{% block content %}

<div class="principal">
    <div class="caixa-1">
        <p>
            A Covid Longa é uma condição em que os pacientes continuam a ter sintomas e sequelas mesmo após a recuperação da infecção por Covid-19. Estudos mostram que pode afetar pessoas que tiveram sintomas leves ou assintomáticas. Os sintomas são diversos, incluindo fadiga, falta de ar, dor de cabeça, entre outros, e podem resultar em sequelas físicas. A relação entre a Covid Longa e a Covid-19 ainda está sendo estudada, mas é evidente que pode representar um desafio adicional para a saúde e qualidade de vida dos afetados. O acompanhamento e estudo da Covid Longa são importantes para compreender melhor os efeitos da pandemia na saúde das pessoas e nas estratégias de cuidado a longo prazo.
        </p>
    <br>
    <br>
        <p>
            O site proposto pela Vanguarda tem como objetivo fornecer informações jornalísticas baseadas em dados sobre a Covid Longa na região do Vale do Paraíba e Litoral Norte de São Paulo. Através de gráficos interativos, os usuários poderão visualizar dados filtrados por ano, cidade e tópicos relacionados à Covid Longa, oferecendo uma visão detalhada da situação local. A proposta é fornecer uma ferramenta de fácil acesso e compreensão para jornalistas e outros interessados obterem informações atualizadas sobre a Covid Longa na região, contribuindo para uma cobertura jornalística informada e precisa sobre esse importante tema de saúde pública.
        </p>
    </div>
    
    <div class="caixa-2">
         <img src="../static/imgs/coronavirus_verde.png" alt="" class="img-1">
    
        <img src="../static/imgs/coronavirus_rosa.png" alt="" class="img-2">
    </div>

    <div class="tabela-sobre">
        <br>
        <br>
        <h2>Nossa Equipe e contatos:</h2>
        <table>
            <thead>
                <th>Nome</th>
                <th>GitHub</th>
                <th>LinkedIn</th>
            </thead>
            <tbody>
                <tr>
                    <td>Caio Rodrigues de Almeida</td>
                    <td><a href="https://github.com/Caio-Almeid4" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/caio-almeida-3693b5271/" target="_blank">Acesse!</a></td>
                </tr>
                <tr>
                    <td>Felipe Gabriel Vieira</td>
                    <td><a href="https://github.com/FelipeVieira27" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/velipefieira/" target="_blank">Acesse!</a></td>
                </tr>
                <tr>
                    <td>Iago Cardoso Souza</td>
                    <td><a href="https://github.com/iagocpv" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/iago-cardoso-315955194/" target="_blank">Acesse!</a></td>
                </tr>
                <tr>
                    <td>Laura Gabriel Gonçalves</td>
                    <td><a href="https://github.com/eulauragabriel" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/eulauragabriel/" target="_blank">Acesse!</a></td>
                </tr>
                <tr>
                    <td>Letícia Helena de Oliveira Carvalho</td>
                    <td><a href="https://github.com/leticiacarvalho04" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/let%C3%ADcia-helena-carvalho/" target="_blank">Acesse!</a></td>
                </tr>
                <tr>
                    <td>Livia Alves de Faria</td>
                    <td><a href="https://github.com/livialvs" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/livialvs/" target="_blank">Acesse!</a></td>
                </tr>
                <tr>
                    <td>Luiz Felipe dos Santos</td>
                    <td><a href="https://github.com/felipe-sant" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/lfelipesant/" target="_blank">Acesse!</a></td>
                </tr>
                <tr>
                    <td>Pedro Henrique</td>
                    <td><a href="https://github.com/Pedryn" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/pedro-henrique-de-souza-128484214/" target="_blank">Acesse!</a></td>
                </tr>
            </tbody>  
        </table>
    </div>
</div>


{% endblock %}