{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/sobre.css">
<main>
    <section id="content_1">
        <div class="left-box">
            <p>A Covid Longa é uma condição em que os pacientes continuam a ter sintomas e sequelas mesmo após a
                recuperação da infecção por Covid-19. Estudos mostram que pode afetar pessoas que tiveram sintomas leves
                ou assintomáticas. Os sintomas são diversos, incluindo fadiga, falta de ar, dor de cabeça, entre outros,
                e podem resultar em sequelas físicas. A relação entre a Covid Longa e a Covid-19 ainda está sendo
                estudada, mas é evidente que pode representar um desafio adicional para a saúde e qualidade de vida dos
                afetados. O acompanhamento e estudo da Covid Longa são importantes para compreender melhor os efeitos da
                pandemia na saúde das pessoas e nas estratégias de cuidado a longo prazo.</p>
            <div id="image">
                <img src="../static/imgs/coronavirus_verde.png" alt="ilustração covid" id="covid_verde">
                <img src="../static/imgs/coronavirus_rosa.png" alt="ilustração covid" id="covid_rosa">
            </div>
            <p>O site proposto pela Vanguarda tem como objetivo fornecer informações jornalísticas baseadas em dados
                sobre a Covid Longa na região do Vale do Paraíba e Litoral Norte de São Paulo. Através de gráficos
                interativos, os usuários poderão visualizar dados filtrados por ano, cidade e tópicos relacionados à
                Covid Longa, oferecendo uma visão detalhada da situação local. A proposta é fornecer uma ferramenta de
                fácil acesso e compreensão para jornalistas e outros interessados obterem informações atualizadas sobre
                a Covid Longa na região, contribuindo para uma cobertura jornalística informada e precisa sobre esse
                importante tema de saúde pública.</p>
        </div>
        <div class="right-box">
            <div id="image">
                <img src="../static/imgs/coronavirus_verde.png" alt="ilustração covid" id="covid_verde">
                <img src="../static/imgs/coronavirus_rosa.png" alt="ilustração covid" id="covid_rosa">
            </div>
        </div>
    </section>
    <section id="content_2">
        <h1>Nossa Equipe e contatos:</h1>
        <table>
            <thead>
                <th>Nome</th>
                <th>GitHub</th>
                <th>LinkedIn</th>
            </thead>
            <tbody>
                <tr>
                    <td>Caio Rodrigues de Almeida</td>
                    <td><a href="https://github.com/Caio-Almeid4" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/caio-almeida-3693b5271/" target="_blank">Acesse!</a></td>
                </tr>
                <tr>
                    <td>Felipe Gabriel Vieira</td>
                    <td><a href="https://github.com/FelipeVieira27" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/velipefieira/" target="_blank">Acesse!</a></td>
                </tr>
                <tr>
                    <td>Iago Cardoso Souza</td>
                    <td><a href="https://github.com/iagocpv" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/iago-cardoso-315955194/" target="_blank">Acesse!</a></td>
                </tr>
                <tr>
                    <td>Laura Gabriel Gonçalves</td>
                    <td><a href="https://github.com/eulauragabriel" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/eulauragabriel/" target="_blank">Acesse!</a></td>
                </tr>
                <tr>
                    <td>Letícia Helena de Oliveira Carvalho</td>
                    <td><a href="https://github.com/leticiacarvalho04" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/let%C3%ADcia-helena-carvalho/" target="_blank">Acesse!</a>
                    </td>
                </tr>
                <tr>
                    <td>Livia Alves de Faria</td>
                    <td><a href="https://github.com/livialvs" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/livialvs/" target="_blank">Acesse!</a></td>
                </tr>
                <tr>
                    <td>Luiz Felipe dos Santos</td>
                    <td><a href="https://github.com/felipe-sant" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/lfelipesant/" target="_blank">Acesse!</a></td>
                </tr>
                <tr>
                    <td>Pedro Henrique</td>
                    <td><a href="https://github.com/Pedryn" target="_blank">Acesse!</a></td>
                    <td><a href="https://www.linkedin.com/in/pedro-henrique-de-souza-128484214/"
                            target="_blank">Acesse!</a></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="content_3">
        <br>
        <h1>Feedback:</h1>
    
        <form method="post" action="/sobre" class="form-feedback" id="form-feedback">
            <label for="">Deixe aqui seu e-mail:</label><br>
            <input class="email" type="email" name="email" placeholder="Digite o email..." required>
        
            <br>
        
            <label for="">Deixe aqui seu comentário:</label><br>
            <textarea class="comentario" name="comentario" placeholder="Digite o seu comentário..." required></textarea>
        
            <br>
        
            <div class="button-container">
                <input class="botao" type="button" value="Enviar" id="enviarBotao">
                <a href="/feedbacks" class="botao">Feedbacks</a>
            </div>
        </form>
    
        <script>
            document.getElementById('enviarBotao').onclick = function () {
                var email = document.querySelector('.email').value;
                var comentario = document.querySelector('.comentario').value;
        
                if (email.trim() === '' || comentario.trim() === '') {
                    Swal.fire(
                        "Erro!",
                        "Por favor, preencha todos os campos obrigatórios.",
                        "error"
                    );
                } else {
                    Swal.fire(
                        "Sucesso!",
                        "As informações foram enviadas com sucesso!",
                        "success"
                    ).then((result) => {
                        if (result.isConfirmed) {
                            // Usuário confirmou, enviar o formulário
                            document.getElementById('form-feedback').submit();
                        }
                    });
                }
            };
        </script>
    </section>
    
</main>
{% endblock %}