{% extends "base.html" %}

{% block content %}

<h2 class="centro">
    Taubaté
</h2>

<h3 class="centro">
    Clique abaixo na categoria que deseja acessar:
</h3>

<div class="botao">
    <div>
        <p> Consultas </p>
    </div>
    <div>
        <p> Gastos </a>
    </div>
    <div>
        <p> Medicamentos </p>
    </div>
    <div>
        <p> Procedimentos </p>
    </div>
    <div>
        <p> Tratamentos </p>
    </div>
</div>
<div class="centro" style="padding-bottom: 20px;">
    <h2> Caso prefira, você pode ir para outra cidade: </h2>
</div>
<div class="grid-container">
        <div>
            <a href="/cacapava"> Caçapava </a>
        </div>
        <div>
            <a href="/jacarei"> Jacareí </a>
        </div>
        <div>
            <a href="/sjc"> São José dos Campos </a>
        </div>
</div>

{% endblock %}