@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

header {
    background-color: #D0FFCE;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #202020;
    padding: 5px;
    height: 85px;
}


header div#left-box {
    /* background-color: yellowgreen; */
    padding-left: 5%;
}

header div#left-box img {
    width: 80px;
}


header nav ul {
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: auto auto auto;
}

header nav ul li {
    display: inline-block;
    text-align: center;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

header nav ul li a {
    color: #202020;
    font-size: 1.2em;
    font-weight: 600;
    transition: 0.3s;
}

header nav ul li a:hover {
    font-weight: 700;
}

footer {
    background-color: #1AB85C;
    padding: 20px 0px;
    text-align: center;
    font-family: "Inter", sans-serif;
    bottom: 0;
    flex-shrink: 0;
}

footer a {
    color: #202020;
    font-weight: 600;
    font-size: 1.3em;
}


footer p {
    font-size: 1.2em;
    margin-top: 10px;
    color: hsla(0, 0%, 13%, 0.8);
}

@media (max-width: 1000px) {
    header {
        grid-template-columns: 40% 60%;
        justify-content: center;
        height: 60px;

    }

    header div#left-box img {
        width: 60px;
    }
}

@media (min-width: 601px) {
    header {
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 600px) {
    footer p {
        font-size: 0.8em;
    }

    footer a {
        font-size: 1em;
    }

    header nav ul li a {
        font-size: 1em;
    }
}