@charset "uft-8";

* {
    margin: 0px;
    padding: 0px;
}

main section.grid-container {
    background-color: #F79593;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    padding: 20px 80px;
    border: 1px solid #202020;
}

main section.grid-container a {
    background-color: white;
    border: 1px solid #202020;
    margin: 15px auto;
    padding: 5px 20px;
    display: grid;
    align-items: center;
    height: 60px;
    width: 180px;
    font-family: "Inter", sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    color: #202020;
}

main section.content {
    display: flex;
    margin: auto;
    padding: 40px 20px;
    max-width: 1600px;
    min-width: none;
    height: 450px;
}

main section.content div.text {
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
}

main section.content div.text p {
    display: flex;
    max-width: 800px;
    min-width: none;
    font-family: "Inter", sans-serif;
    line-height: 30px;
}

main section.content div.img {
    margin: auto;
}

@media (max-width: 1600px) {
    main section.content {
        display: flex;
        flex-direction: column;
    }

    main section.content div.img {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    main section.content div.text p{
        display: flex;
        flex-direction: row;
        flex: 2;
    }
}

@media (max-width: 650px) {
    main section.grid-container {
        padding: 20px 40px;
    }
    
    main section.grid-container a {
        width: 160px;
    }
}