main {
    max-width: 1400px;
    min-width: 90%;
    margin: auto;
}

#content_1 {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 40px 0px;
}

.left-box {
    display: grid;
    align-content: center;
    padding: 40px;
}

.left-box p {
    font-family: "Inter", sans-serif;
    line-height: 30px;
    font-size: 0.9em;
    color: #202020;
    margin-bottom: 30px;
}

.left-box #image {
    display: none;
}

.right-box {
    align-content: center;
    display: grid;
}

#image {
    position: relative;
    margin: auto;
    height: 400px;
    width: 400px;
}

#image #covid_verde {
    position: absolute;
    width: 250px;
    left: 0px;
    top: 0px;
}

#image #covid_rosa {
    position: absolute;
    width: 140px;
    left: 200px;
    top: 240px;
}

#content_2 {
    padding: 20px;
    font-family: "Inter", sans-serif;
}

#content_2 h1 {
    margin-bottom: 40px;
    text-align: left;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

#content_2 table {
    width: 800px;
    border-collapse: collapse;
    background-color: #fcbab9;
    font-family: "Inter", sans-serif;
}

#content_2 th,
#content_2 td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#content_2 th {
    background-color: #F79593;
}

#content_2 tr:nth-child(even) {
    background-color: #fcbab9;
}

#content_2 tr:hover {
    background-color: #fcbab9;
}

@media (max-width: 1000px) {
    #content_1 {
        grid-template-columns: 100%;
    }

    .left-box #image {
        margin: 0px auto 30px;
        display: block;
        height: 135px;
        width: 200px;
    }
    
    .left-box #image #covid_verde {
        position: absolute;
        width: 125px;
        left: 0px;
        top: 0px;
    }
    
    .left-box #image #covid_rosa {
        position: absolute;
        width: 70px;
        left: 130px;
        top: 65px;
    }

    .right-box {
        display: none;
    }

    #content_2 table {
        width: 100%;
    }

    #content_3 {
        width: 90% !important;
    }

    #content_3 textarea {
        height: 150px;
        width: 90% !important;
    }

    #content_3 .email {
        width: 90% !important;    
    }
}

#content_3 {
    width: 800px;
    padding: 20px;
    font-family: "Inter", sans-serif;
}

#content_3 h1 {
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

#content_3 .email {
    width: 800px;
}

#content_3 textarea {
    height: 150px;
    width: 800px;
}

#content_3 .email, 
#content_3 .comentario {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    text-indent: 10px;
}

#content_3 .email::placeholder, 
#content_3 .comentario::placeholder {
    text-indent: 10px;
}

.botao {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: 0.8s ease;
  }

  .botao:hover {
    background: #37813a;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    transition: 0.8s ease; 
  }